body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 100px;
    padding-bottom: 200px;
    padding-right: 100px;
}

.half-width-image {
    padding-left: 90px;
    padding-bottom: 200px;
}

.hire-me {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.resume-button {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.experience-item {
    width: 40%;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid blue;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack {
    border-left: 10px solid tomato;
}

#junior-stack {
    border-left: 10px solid blue;
}